<!DOCTYPE html>
{% extends "base/base.html" %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
<title>Home | django Pratice with Sql Database</title>
<section class="about">
  <h1>Well-come To With_SQL</h1>
  <h3>Hello! This Is User Details Page. Visit Our Other Page</h3>

</section>
  {{ user_data }}


  <a href="{% url 'edid_user' priid=user_data.id %}" class="btn btn-info mb-3">Edid</a>
  <table class="table table-bordered">
    <tr>
      <th>Product</th>
      <th>Buy Date</th>
    </tr>
    {% for all in user_datasss %}
    <tr>
      <td>{{ all.product }} <a href="{% url 'edid_product' product_id=all.id %}" class="btn btn-success btn-sm">Edid</a></td>
      <td>{{ all.buydate }}</td>
    </tr>
    {% endfor %}

</section>
{% endblock %}
